
<ion-header class= "myList">
  <ion-list text-wrap class="myList">
    <ion-label color="primary">
      <h1>
        Select where to Save your Shopping List
      </h1>
      
    </ion-label>
  </ion-list>
</ion-header>
<ion-content color="tertiary">
  
  <ion-list class= "myList">
    <ion-item button (click) ="presentAlertPrompt('0')" color="tertiary">{{nameArray[0]}}
      <!-- <ion-icon name="ios-arrow-forward" slot="end" color="primary"></ion-icon> -->
    </ion-item>
    <ion-item button (click)="presentAlertPrompt('1')" color="tertiary">{{nameArray[1]}}
      <!-- <ion-icon name="ios-arrow-forward" slot="end" color="primary"></ion-icon> -->
    </ion-item>
    <ion-item button (click) = "presentAlertPrompt('2')" color="tertiary">{{nameArray[2]}}
      <!-- <ion-icon name="ios-arrow-forward" slot="end" color="primary"></ion-icon> -->
    </ion-item>
    <ion-item button (click) = "presentAlertPrompt('3')" color="tertiary">{{nameArray[3]}}
      <!-- <ion-icon name="ios-arrow-forward" slot="end" color="primary"></ion-icon> -->
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="popOverWasClicked()">Close</ion-button>
</ion-content>
