<ion-header translucent="true">
  <ion-toolbar color = "primary">
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar debounce="500"></ion-searchbar>
  <ion-row wrap>
    <ion-col> 
      <ion-card>
        <ion-card-header>
          <ion-badge>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Big_C_Logo.svg/1200px-Big_C_Logo.svg.png" class="image">
          </ion-badge>
        </ion-card-header>
        <ion-card-content>
          hello
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card button=true (click) = "card2Clicked()">
        <ion-card-header>
          <ion-badge>
            <ion-icon name="bicycle"></ion-icon>
          </ion-badge>
        </ion-card-header>
        <ion-card-content>
          Hello2
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-badge>
            <ion-icon name="bicycle"></ion-icon>
          </ion-badge>
        </ion-card-header>
        
        <ion-card-content>
          Hello33
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-content>
          Hello33
        </ion-card-content>
        
      </ion-card>
    </ion-col>
  </ion-row>
  
  

</ion-content>
