.card {
 background: rgb(37, 179, 129);
}
.image{
  width: 20px;
  height: 20px;
}
.mybutton {
  --border-color: rgb(37, 179, 129);
  --box-shadow: none;
  --color: rgb(37, 179, 129) !important;
}
.img2 {
  max-width: 100%;
  height: auto;
}
.listItem {
  background: #F2E5D7;
}
