.card {
 background: #ffffff !important;
}
.image{
  width: 20px;
  height: 20px;
}
.mybutton {
  --border-color: rgb(37, 179, 129);
  --box-shadow: none;
  --color: rgb(37, 179, 129) !important;
}
.img2 {
  max-width:auto;
  max-height: 20vh;
}