<ion-header translucent="true">
  <ion-toolbar color = "primary">
    <ion-title>
      Items Catalog
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeHolder="What do you want to buy?" (ionChange)="onSearch($event)" [debounce] ="500"></ion-searchbar>
  
  <ion-progress-bar type="indeterminate" *ngIf="items === undefined" color= "secondary"></ion-progress-bar>
  <ion-item>
    <ion-label>Sort by:</ion-label>
    <ion-select (ionChange)="categorySort(SelectValue)" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="Select One" [(ngModel)]="SelectValue">
      <ion-select-option value="Vegetables">Vegetables</ion-select-option>
      <ion-select-option value="fruits">Fruits</ion-select-option>
      <ion-select-option value="Meat and Poultry">Meat & Poultry</ion-select-option>
      <ion-select-option value="Seafood">Seafood</ion-select-option>
      <ion-select-option value="Dairy">Dairy</ion-select-option>
      <ion-select-option value="Confections">Confections</ion-select-option>
      <ion-select-option value="Beverages">Beverages</ion-select-option>
      <ion-select-option value="GBN">Grains</ion-select-option>

    </ion-select>
  </ion-item>
  <ion-list>
    
    <ion-card *ngFor="let item of items2" class = "card">
      <ion-row>
        <ion-col>
          <img src="{{item.img}}" class="img2">
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Big C Price: {{item.price.bigc}}฿</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Tesco Lotus Price: {{item.price.tesco}}฿</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Tops Price: {{item.price.tops}}฿</ion-label>
          </ion-item> 
          <ion-item>
            <ion-label>7-11 Price: {{item.price.seveneleven}}฿</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      
      
      <ion-card-header>
        <ion-card-title> {{ item.name }} </ion-card-title>
        <!-- <img src="https://i.imgur.com/00Mw5x5.jpg"> -->
      </ion-card-header>
      <ion-button (click) = "addToMyList(item)"> Click me to add Item</ion-button>
    </ion-card>
  </ion-list>
  <div *ngIf="items2.length <= 0">
    <ion-list>
      <ion-card *ngFor="let item of numbers">
        <ion-skeleton-text style="width: 20vh; height: 20vh" animated></ion-skeleton-text>
        <ion-card-header>
          <ion-card-title> <ion-skeleton-text style="height: 24px; width: 200px" animated></ion-skeleton-text> </ion-card-title>
          <!-- <img src="https://i.imgur.com/00Mw5x5.jpg"> -->
        </ion-card-header>
        <ion-button fill="clear"> <ion-skeleton-text style="height: 24px; width: 200px" animated></ion-skeleton-text></ion-button>
        
      </ion-card>
      
    </ion-list>
  </div>
  
  

</ion-content>
