
* {
  box-sizing: border-box;
}

.square-container {
  padding: 8px;
}

.square {
  width: calc(100% / 2);
  float: left;
  position: relative;
  padding-bottom: calc(100% / 5);
}

.square .content {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    margin: 8px;
    padding: 16px;
    position: absolute;
    color: black;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px 8px 8px 8px;
}