<ion-header translucent=true>
  <ion-toolbar color = "primary">
    <ion-title>
      Grocery List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item>
        <ion-list-header (click)="itemwasClicked()">Item Name</ion-list-header>
        <div class="ion-float-right"> 
          <ion-list-header >Prices</ion-list-header>
        </div>
      </ion-item>
      
      <ion-item-sliding *ngFor="let items of shoppingList">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
                <img src={{items.img}} width="200">
              </ion-col>
              <ion-col>
                <div>
                  {{items.name}}
                </div>
              </ion-col>
            
              <ion-col class="ion-float-right">
                <div class="ion-text-end">
                  {{items.price}}
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)=deleteItem(items)>
            <ion-icon slot="icon-only" name="trash" ></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button size = medium (click)="presentPopover()">
        <ion-icon name="add" size = large></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
