<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Grocery List
    </ion-title>
    <ion-button slot="end" fill="clear" (click)="presentPopover($event)">
      <ion-icon name = "menu" color= "light"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="ios-arrow-down" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list class= "listItem">
    
    <ion-item color="tertiary">
      <ion-list-header (click)="sortBy('name')" class="ion-text-left">Item</ion-list-header>
      <ion-icon name="md-arrow-dropdown" *ngIf="sortingBy=='name' && sort_is_clicked; else descending"></ion-icon>
      <ng-template #descending>
        <ion-icon name="md-arrow-dropup" *ngIf="sortingBy=='name'"></ion-icon>
      </ng-template>
      
      
      <ion-list-header (click)="sortBy('price')" class="ion-text-right">Prices</ion-list-header>
      <ion-icon name="md-arrow-dropdown" *ngIf="sortingBy=='price' && sort_is_clicked; else decreasing"></ion-icon>
      <ng-template #decreasing>
        <ion-icon name="md-arrow-dropup" *ngIf="sortingBy=='price'"></ion-icon>
      </ng-template>
    </ion-item>
    <ion-item text-center color="tertiary" lines="none" *ngIf="shoppingList.length == 0 && dataService.pendingList.length == 0">
      <ion-label  class="ion-text-wrap"> Brevity is the soul of wit, but the app can't run without items, so go ahead and press the Find Prices tab and add some items away!!!</ion-label>
    </ion-item>
      <ion-label *ngIf="shoppingList.length == 0 && dataService.pendingList.length > 0" class="ion-text-wrap"> Pull down to refresh and see your new additions.</ion-label>
    <ion-card *ngFor="let items of shoppingList; let odd= odd" >
      <ion-item-sliding>
        <ion-item color="primary">
          <ion-grid>
            <ion-row>
              <ion-col>
                <img src={{items.img}} class="img">
              </ion-col>
              <ion-col ion-long-press [interval]="400"
  (pressed)="setName(items.name,$event)"
  (longPressed)="presentItemPreview($event)">
                <ion-card-subtitle style="font-size: medium" color="tertiary">
                  {{items.name}}
                </ion-card-subtitle>
              </ion-col>
            
              <ion-col class="ion-float-right">
                <div class="ion-text-end" [ngSwitch]="mallToUse">
                  <ion-label *ngSwitchCase="'Big C'">฿{{items.price.bigc}}</ion-label>
                  <ion-label *ngSwitchCase="'7-11'">฿{{items.price.seveneleven}}</ion-label>
                  <ion-label *ngSwitchCase="'Tops'">฿{{items.price.tops}}</ion-label>
                  <ion-label *ngSwitchCase="'Tesco'">฿{{items.price.tesco}}</ion-label>
                  <ion-label *ngSwitchDefault>฿{{items.price.avg_price}}</ion-label>
                  
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options side="end" (ionSwipe)="deleteItem(items)">
          <ion-item-option color="danger" (click)=deleteItem(items) expandable>
            <ion-icon slot="icon-only" name="trash" ></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-card>

  </ion-list>
  <ion-item *ngIf='shoppingList.length!=0' color="tertiary">
    <h3 style="color:#143642">{{mallToUse}} Total:</h3>
    <ion-label class="ion-text-end" color= "primary">
      <h2>฿{{totalPrice}}</h2>
    </ion-label>
  </ion-item>

</ion-content>

