// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #84b320;
  --ion-color-primary-rgb: 132,179,32;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #749e1c;
  --ion-color-primary-tint: #90bb36;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;


  --ion-color-ios-blue: #147EFB;
  --ion-color-ios-blue-rgb: 20,126,251;
  --ion-color-ios-blue-contrast: #ffffff;
  --ion-color-ios-blue-contrast-rgb: 255,255,255;
  --ion-color-ios-blue-shade: #126fdd;
  --ion-color-ios-blue-tint: #2c8bfb;
  --ion-color-tops: #f5424e;
  --ion-color-tops-rgb: 245,66,78;
  --ion-color-tops-contrast: #ffffff;
  --ion-color-tops-contrast-rgb: 255,255,255;
  --ion-color-tops-shade: #d83a45;
  --ion-color-tops-tint: #f65560;

  --ion-color-tesco: #42967b;
  --ion-color-tesco-rgb: 66,150,123;
  --ion-color-tesco-contrast: #ffffff;
  --ion-color-tesco-contrast-rgb: 255,255,255;
  --ion-color-tesco-shade: #3a846c;
  --ion-color-tesco-tint: #55a188;

  --ion-color-bigc: #b5cb52;
  --ion-color-bigc-rgb: 181,203,82;
  --ion-color-bigc-contrast: #000000;
  --ion-color-bigc-contrast-rgb: 0,0,0;
  --ion-color-bigc-shade: #9fb348;
  --ion-color-bigc-tint: #bcd063;

   --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255,255,255;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0,0,0;
  --ion-color-white-shade: #e0e0e0;
  --ion-color-white-tint: #ffffff;

  --ion-color-seven: #e0853a;
  --ion-color-seven-rgb: 224,133,58;
  --ion-color-seven-contrast: #000000;
  --ion-color-seven-contrast-rgb: 0,0,0;
  --ion-color-seven-shade: #c57533;
  --ion-color-seven-tint: #e3914e;
}
.ion-color-ios-blue {
  --ion-color-base: var(--ion-color-ios-blue);
  --ion-color-base-rgb: var(--ion-color-ios-blue-rgb);
  --ion-color-contrast: var(--ion-color-ios-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-ios-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-ios-blue-shade);
  --ion-color-tint: var(--ion-color-ios-blue-tint);
}
.ion-color-seven {
  --ion-color-base: var(--ion-color-seven);
  --ion-color-base-rgb: var(--ion-color-seven-rgb);
  --ion-color-contrast: var(--ion-color-seven-contrast);
  --ion-color-contrast-rgb: var(--ion-color-seven-contrast-rgb);
  --ion-color-shade: var(--ion-color-seven-shade);
  --ion-color-tint: var(--ion-color-seven-tint);
}
.ion-color-tops {
  --ion-color-base: var(--ion-color-tops);
  --ion-color-base-rgb: var(--ion-color-tops-rgb);
  --ion-color-contrast: var(--ion-color-tops-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tops-contrast-rgb);
  --ion-color-shade: var(--ion-color-tops-shade);
  --ion-color-tint: var(--ion-color-tops-tint);
}
.ion-color-tesco {
  --ion-color-base: var(--ion-color-tesco);
  --ion-color-base-rgb: var(--ion-color-tesco-rgb);
  --ion-color-contrast: var(--ion-color-tesco-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tesco-contrast-rgb);
  --ion-color-shade: var(--ion-color-tesco-shade);
  --ion-color-tint: var(--ion-color-tesco-tint);
}
.ion-color-bigc {
  --ion-color-base: var(--ion-color-bigc);
  --ion-color-base-rgb: var(--ion-color-bigc-rgb);
  --ion-color-contrast: var(--ion-color-bigc-contrast);
  --ion-color-contrast-rgb: var(--ion-color-bigc-contrast-rgb);
  --ion-color-shade: var(--ion-color-bigc-shade);
  --ion-color-tint: var(--ion-color-bigc-tint);
}
.ion-color-white {
  --ion-color-base: var(--ion-color-white);
  --ion-color-base-rgb: var(--ion-color-white-rgb);
  --ion-color-contrast: var(--ion-color-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-white-shade);
  --ion-color-tint: var(--ion-color-white-tint);
}
