
  <ion-card class="card">
    <ion-button fill="clear" (click)="exit('')" size="large">
      <ion-icon name="close" color="dark" size="large"></ion-icon>
    </ion-button>
    <img src={{img}} class="img"> 
    <ion-card-header fill="clear">
      <ion-card-title>{{name}}</ion-card-title>
    </ion-card-header>
    
    <ion-item color="bigc" translucent="true" class="BigCCard">
      <ion-label wrap>Big C Price: ฿{{price.bigc}}</ion-label>
      <ion-button fill="clear" (click)="exit('Big C')">
        <ion-label color="light">Show</ion-label>
      </ion-button>
    </ion-item>
    <ion-item color="tesco" translucent="true" class="TescoCard">
      <ion-label>Tesco Price: ฿{{price.tesco}}</ion-label>
      <ion-button fill="clear" (click)="exit('Tesco')">
        <ion-label color="light">Show</ion-label>
      </ion-button>
    </ion-item>
    <ion-item color="tops" translucent="true" class="TopsCard">
      <ion-label>Tops Price: ฿{{price.tops}}</ion-label>
      <ion-button fill="clear" (click)="exit('Tops')">
        <ion-label color="light">Show</ion-label>
      </ion-button>
    </ion-item>
    <ion-item color="seven" translucent="true" class="SevenCard">
      <ion-label>7- Price: ฿{{price.seveneleven}}</ion-label>
      <ion-button fill="clear" (click)="exit('7-11')">
        <ion-label color="light">Show</ion-label>
      </ion-button>
    </ion-item>
  </ion-card>

