/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
:root{
 
  ion-tab-button.tab-selected {
    ion-icon, ion-label {
      color: #ffffff !important;
      --ion-color-base: var(--ion-color-secondary) !important;
    }
  ion-card.card-clicked{
    background: gray;
  }
  }

  --ion-color-tops: #f5424e;
  --ion-color-tops-rgb: 245,66,78;
  --ion-color-tops-contrast: #ffffff;
  --ion-color-tops-contrast-rgb: 255,255,255;
  --ion-color-tops-shade: #d83a45;
  --ion-color-tops-tint: #f65560;

  --ion-color-lotus: #42967b;
  --ion-color-lotus-rgb: 66,150,123;
  --ion-color-lotus-contrast: #ffffff;
  --ion-color-lotus-contrast-rgb: 255,255,255;
  --ion-color-lotus-shade: #3a846c;
  --ion-color-lotus-tint: #55a188;

  --ion-color-bigc: #b5cb52;
  --ion-color-bigc-rgb: 181,203,82;
  --ion-color-bigc-contrast: #000000;
  --ion-color-bigc-contrast-rgb: 0,0,0;
  --ion-color-bigc-shade: #9fb348;
  --ion-color-bigc-tint: #bcd063;

   --ion-color-white: #ffffff;
  --ion-color-white-rgb: 255,255,255;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0,0,0;
  --ion-color-white-shade: #e0e0e0;
  --ion-color-white-tint: #ffffff;

}

.row{
  align-items: center;
}


.ion-color-tops {
  --ion-color-base: var(--ion-color-tops);
  --ion-color-base-rgb: var(--ion-color-tops-rgb);
  --ion-color-contrast: var(--ion-color-tops-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tops-contrast-rgb);
  --ion-color-shade: var(--ion-color-tops-shade);
  --ion-color-tint: var(--ion-color-tops-tint);
}
.ion-color-lotus {
  --ion-color-base: var(--ion-color-lotus);
  --ion-color-base-rgb: var(--ion-color-lotus-rgb);
  --ion-color-contrast: var(--ion-color-lotus-contrast);
  --ion-color-contrast-rgb: var(--ion-color-lotus-contrast-rgb);
  --ion-color-shade: var(--ion-color-lotus-shade);
  --ion-color-tint: var(--ion-color-lotus-tint);
}
.ion-color-bigc {
  --ion-color-base: var(--ion-color-bigc);
  --ion-color-base-rgb: var(--ion-color-bigc-rgb);
  --ion-color-contrast: var(--ion-color-bigc-contrast);
  --ion-color-contrast-rgb: var(--ion-color-bigc-contrast-rgb);
  --ion-color-shade: var(--ion-color-bigc-shade);
  --ion-color-tint: var(--ion-color-bigc-tint);
}
.ion-color-white {
  --ion-color-base: var(--ion-color-white);
  --ion-color-base-rgb: var(--ion-color-white-rgb);
  --ion-color-contrast: var(--ion-color-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-white-shade);
  --ion-color-tint: var(--ion-color-white-tint);
}

